@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.7rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.3rem;
    align-items: center;
    animation: moveInRight 5s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #4bb2f2, #9fd2f2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all .2s;
  font-size: 1.6rem;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--animated {
  animation: moveInBottom 1.5s ease-out;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4bb2f2;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s;
  border-radius: 5px; }

.btn-text:hover {
  background-color: #0367a5;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.next-step {
  margin-top: 40px;
  background-color: #fff;
  color: #777;
  font-family: "Lato", sans-serif; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  position: relative;
  width: 30rem;
  height: 50rem;
  transform-style: preserve-3d; }
  .card__picture {
    background-size: cover; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #0396f1, #022d49), url(/img/ice-8.jpg);
      height: 50%;
      width: 100%;
      position: absolute;
      top: -10px;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #06f0f0, #004040), url(/img/ice-aurora.jpg);
      height: 50%;
      width: 100%;
      position: absolute;
      top: -10px;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #87f006, #6c8901), url(/img/ice-12.jpg);
      height: 50%;
      width: 100%;
      position: absolute;
      top: -10px;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(3, 150, 241, 0.85), rgba(2, 45, 73, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(2, 114, 114, 0.85), rgba(50, 63, 1, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(159, 210, 242, 0.85), rgba(2, 114, 114, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding-top: 20rem; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #777; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 300; }

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.14);
  transition: 1s ease-in-out;
  transform: perspective(500px) rotateY(0deg); }

.card .face.front {
  background: #fff; }

.card:hover .face.front {
  transform: perspective(500px) rotateY(180deg); }

.card .face.back {
  transform: perspective(500px) rotateY(180deg); }

.card:hover .face.back {
  transform: perspective(500px) rotateY(360deg); }

.card-text {
  font-size: 1.6rem;
  transform: perspective(500px) translateZ(50px); }

.gradient-a {
  background-image: linear-gradient(to right bottom, #4bb2f2, #0367a5); }

.gradient-b {
  background-image: linear-gradient(to right bottom, #06f0f0, #004040); }

.gradient-c {
  background-image: linear-gradient(to right bottom, #87f006, #6c8901); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: .4s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 5%;
      top: 2rem; }
    .composition__photo--p2 {
      left: 40%;
      top: 7rem; }
    .composition__photo--p3 {
      left: 10%;
      top: 16rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #9fd2f2;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #4bb2f2, #9fd2f2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .6s; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #0367a5; }

.form:focus:invalid {
  border-bottom: 3px solid #323f01; }

.form::-webkit-input-placeholder {
  color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: -2%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.7rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 3px solid #0367a5;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 1.2rem;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0367a5;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12.01deg);
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right top, rgba(3, 103, 165, 0.4), rgba(2, 114, 114, 0.9)), url(../img/bg-iceland.png);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left; }
    .row .col:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) +  2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right top, rgba(3, 103, 165, 0.4), rgba(2, 114, 114, 0.9)), url(../img/ice-13.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 2rem 0;
  margin-top: -20rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #0396f1, #022d49); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/ice-12.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }
