.header { 
    height: 95vh;
    background-image:  linear-gradient(to right top, 
    rgba($color-primary, 0.4), rgba($color-green, 0.9)), url(../img/bg-iceland.png);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        }
    

    &__logo-box {
        position: absolute;
        top: 3.0rem;
        left: 3.0rem;

    }

    &__logo {
        height: 7rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

