.btn{ 
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 8rem;
        transition: all .2s;
        font-size: 1.6rem;

        border: none;

}

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

    &:active,
    &:focus  {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
}

    &--white {
        background-color: $color-white;
        color: $color-dark-grey;
}

&--grey {
    background-color: $color-light-grey-1;
    color: $color-dark-grey;
}

    &--animated {
        animation: moveInBottom 1.5s ease-out;
        animation-fill-mode: backwards;
}
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-blue-light;
        display: inline-block;
        text-decoration: none;
        // border-bottom: 1px solid $color-blue-light;
        padding: 3px;
        transition: all .2s;
        border-radius: 5px;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

}

.next-step {
    margin-top: 40px;
    background-color: $color-white;
    color: $color-dark-grey;
    font-family: "Lato", sans-serif;
}