.card {
position: relative;
width: 30rem;
height: 50rem;
transform-style: preserve-3d;

&__picture {
        background-size: cover;

        &--1{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(/img/ice-8.jpg);
            height: 50%;
            width: 100%;
            position: absolute;
            top: -10px;
            background-blend-mode: screen;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        }

        &--2{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(/img/ice-aurora.jpg);
            height: 50%;
            width: 100%;
            position: absolute;
            top: -10px;
            background-blend-mode: screen;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        }

        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(/img/ice-12.jpg);
            height: 50%;
            width: 100%;
            position: absolute;
            top: -10px;
            background-blend-mode: screen;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        }
    }

&__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-green, .85), rgba($color-green-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-blue-lighter, .85), rgba($color-green, .85));
        }
    }

    &__details{

        ul {
            list-style: none;
            width: 100%;
            margin: 0 auto;
            padding-top: 20rem;
        

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-dark-grey;

                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
     }

     &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
     }

     &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
     }

     &__price-value {
        font-size: 6rem;
        font-weight: 300;
     }

}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .14);
    transition: 1s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.card .face.front {
    background: $color-white;
}

.card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.card .face.back {
    // color: #fff;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.card-text {
    font-size: 1.6rem;
    transform: perspective(500px) translateZ(50px);
}

.gradient-a {
    background-image: linear-gradient(to right bottom, $color-blue-light, $color-primary);
}

.gradient-b {
    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
}

.gradient-c {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
}

